@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #CCDAD5;
  font-family: OpenSans, sans-serif;
}
body a,
body a:hover,
body a:visited,
body a:link,
body a:active {
  text-decoration: none;
}
#nav,
footer {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #428BCA;
}
#navbar,
#div_footer {
  width: 53%;
  height: 50px;
  margin: 0 auto;
  color: #fff;
}
#nav {
  position: fixed;
}
#brand {
  color: #fff;
  text-align: center;
  font-size: 27px;
  padding-top: 6px;
}
#brand_wrap {
  width: 50px;
  height: 50px;
  float: left;
}
#div_top {
  margin-top: 66px;
}
#loadcontent a.back.top_left {
  border-radius: 6px 0 0 0;
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  -khtml-border-radius: 6px 0 0 0;
}
#loadcontent a.back.bottom_left {
  border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  -khtml-border-radius: 0 0 0 6px;
}
#loadcontent a.forward.top_right {
  border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  -khtml-border-radius: 0 6px 0 0;
}
#loadcontent a.forward.bottom_right {
  border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  -khtml-border-radius: 0 0 6px 0;
}
#content {
  border-radius: 6px;
}
#wrap_content {
  width: 53%;
  margin: 0 auto;
}
#content {
  min-height: 670px;
  background-color: #E7EAED;
}
#content p {
  color: #6F6F6F;
  text-align: left;
  line-height: 1.5;
  text-indent: 34px;
  font-size: 1.1em;
  margin: 0 20px 10px 20px;
}
#content h1 {
  font-size: 1.5em;
  margin: 24px 0 24px 44px;
}
#content h2 {
  font-size: 1.2em;
  margin: 23px 0 24px 38px;
}
#content h1,
h2 {
  color: #666666;
}
.imgPhoto {
  float: left;
  width: 19%;
  margin: 0 20px 0 20px;
}
#loadcontent {
  overflow: hidden;
}
#loadcontent a.forward,
#loadcontent a.back,
#loadcontent a.chapter {
  display: block;
  height: 30px;
  background-color: #add1e5;
  color: #808080;
  line-height: 30px;
  font-weight: bold;
  display: table-cell;
  width: 1000px;
}
#arrows ul {
  display: table-row;
}
#arrows ul li {
  display: table-cell;
  width: auto;
  vertical-align: middle;
  text-align: center;
}
#loadcontent a:hover {
  color: #eeeeee;
}
footer {
  margin-top: 16px;
}
#div_footer {
  text-align: center;
  font-size: 19px;
  padding-top: 12px;
}
#div_footer p {
  margin: 0 auto;
}
@media (max-width: 1260px) {
  #wrap_content {
    width: 70%;
  }
}
