<a class="back top_left" data-ajax="true" data-ajax-complete="OnCompleteJs" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="OnSuccessJs" data-ajax-update="#loadcontent" data-mytitle="СФА" data-myurl="http://localhost:4632/" asp-controller="Home" asp-action="Index">НАЗАД</a>
<a class="forward top_right" data-ajax="true" data-ajax-complete="OnCompleteJs" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="OnSuccessJs" data-ajax-update="#loadcontent" data-mytitle="Жизнь - это Движение" data-myurl="http://localhost:4632/lifego/lifego" asp-controller="Home" asp-action="Index">ВПЕРЕД</a>


<a class="back bottom_left" data-ajax="true" data-ajax-complete="OnCompleteJs" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="OnSuccessJs" data-ajax-update="#loadcontent" data-mytitle="СФА" data-myurl="http://localhost:4632/" asp-controller="Home" asp-action="Index">НАЗАД</a>
<a class="forward bottom_right" data-ajax="true" data-ajax-complete="OnCompleteJs" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="OnSuccessJs" data-ajax-update="#loadcontent" data-mytitle="Жизнь - это Движение" data-myurl="http://localhost:4632/lifego/lifego" asp-controller="Home" asp-action="Index">ВПЕРЕД</a>
