<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @RenderSection("meta", required: false)
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="nav">
        <div id="navbar">
            <div id="brand_wrap"><div id="brand">SFA.COM</div></div>
        </div>
    </div>
    <div id="div_top"></div>
    <div id="wrap_content">
        <div id="content">
            <div id="loadcontent">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer><div id="div_footer"><p>&copy;2018 -  @DateTime.Now.Year</p></div></footer>
    @*Всплывающее окно*@
    <div class="fixed_overlay ">
        <div class="fixed_overlay_modal">
            <div class="modal">
                <div class="modal_container">
                    <a class="popup_close" href="#">Закрыть</a>
                    @await Html.PartialAsync("_books")
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
